body {  
  
  font-family: sans-serif;
}
.app header, .app main {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; 
}
div.app {  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex-basis: 30vh;
  background-color: #000;
  color: white;
  text-align: center;
  line-height: 100%;
}
main {  
  display: flex;
  flex-grow: 1;
}
aside {
  flex-basis: 300px;
}
footer {
  background-color: #000;  
  color: white;
  text-align: center;
}