.page {
    width: 100%
}
.contact h3 {
    margin-top: 30px;    
}
.contact textarea {    
    font-size: 16px;
    width: 80%;
    min-height: 200px;
    margin: 20px 0;
}
.contact button {
    font-size: 17px;
    display: block;
    margin: 0 20% 0 auto;
    line-height: 200%;
    min-width: 100px;
    background-color: transparent;
    border: 2px solid black
}